<script type="text/javascript" src="~/MyScripts/reviewer/declined-request.js"></script>
<script type="text/javascript" src="~/MyScripts/others/accept-numbers-only.js"></script>
<div class="x_title">
    <h2>Requestor |<small>Declined Request</small></h2>
    <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="x_content">
    <!-- content starts here -->
    <div ng-controller="myCtrl" ng-init="initialize()">
        <!--REVIEW-->
        @Html.Partial("~/Views/Shared/_ReviewDeclinedRequest.cshtml")
    </div>
    <!-- content ends here -->
</div>