@using AccountsWebAuthentication.Helper;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>AIMS - Anderson Inventory Management System (AIMS)</title>

    @*Stylesheets*@


    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" /><!--Font-awesome stylesheet-->
    <link href="~/Content/animate.min.css" rel="stylesheet" type="text/css"><!--Bootstrap stylesheet-->
    <link rel="stylesheet" href="~/Content/select.css"><!--Select(combo box) stylesheet-->
    <link rel="stylesheet" href="~/Content/ui-selectize.css"><!--Select(combo box) stylesheet-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" /><!--Bootstrap stylesheet-->
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css"><!--Bootstrap Datetime Picker stylesheet-->
    <link href="~/Content/jquery.pnotify.css" media="all" rel="stylesheet" type="text/css" /><!--PNotify stylesheet-->
    <link href="~/Content/jquery.pnotify.icons.css" media="all" rel="stylesheet" type="text/css" /><!--PNotify Icons stylesheet-->
    <link href="~/Content/angular-toggle-switch.css" rel="stylesheet"><!--Select(combo box) stylesheet-->
    @*<link href="~/Content/nprogress.css" rel="stylesheet">*@
    <link href="~/Content/toastr/toastr.css" rel="stylesheet">
    <link href="~/Content/jquery.mCustomScrollbar.min.css" rel="stylesheet"><!--For Gentelella Jquery stylesheet-->
    <link href="~/Libs/gentelella/build/css/custom.css" rel="stylesheet"><!--Gentelella Sidebar stylesheet-->
    @*Javascripts*@
    <script src="~/Scripts/jquery-3.1.1.js"></script><!--Jquery javascript-->
    <script src="~/Scripts/angular.js"></script><!--Angular javascript-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" /><!--My css stylesheet-->

</head>

<style>
    .navbar {
        border-bottom-color: #c05f5f !important;
        border-width: 0 1px 4px 1px;
    }

    li a:hover, .navbar-brand:hover {
        color: #2b358a !important;
        font-weight: bold;
    }

    .navDiv {
        height: 90px;
    }
</style>

<body ng-app="myApp">
    <div class="navbar navbar-default navbar-fixed-top navDiv">
        <script type="text/javascript" src="~/MyScripts/app.js"></script><!--Angular init module-->
        <script type="text/javascript" src="~/MyScripts/filter-actions/select-roles.js"></script><!--Select all users role-->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-fixed-top" ng-controller="myCtrl2" ng-init="filterActions()">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="/Home/LandingPage"><img src="~/Content/Images/inventory.png" width="340" height="45" /></a></li>
                    <li ng-if="userRoles.indexOf('Receptionist') !== -1 || userRoles.indexOf('Employee') !== -1 || userRoles.indexOf('PurchasingOfficer') !== -1">
                        @*@if (WindowsUser.HasUserRoles(new string[] { "Receptionist" }))
                            {*@
                    <li><a href="/Home/LandingPage"><i class="fa fa-home"></i> Home </a></li>
                    @*}*@
                    @*@if (WindowsUser.HasUserRoles(new string[] { "Employee" }))
                         {
                            <li><a href="/Home/LandingPage"><i class="fa fa-home"></i> Home </a></li>
                         }
                        @if (WindowsUser.HasUserRoles(new string[] { "PurchasingOfficer" }))
                         {
                            <li><a href="/Home/LandingPage"><i class="fa fa-home"></i> Home </a></li>
                         }*@
                    @*<li ng-if="userRoles.indexOf('Receptionist') !== -1 || userRoles.indexOf('Employee') !== -1 || userRoles.indexOf('PurchasingOfficer') !== -1">
                        @if (WindowsUser.HasUserRoles(new string[] { "Receptionist" }))
                        {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-archive"></i> Inventory <span class="fa fa-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Inventory/Stocks">Stocks</a></li>
                                <li><a href="/Inventory/BeginningBalance">Beginning Balance</a></li>
                            </ul>
                        </li>
                        }*@
                    @*@if (WindowsUser.HasUserRoles(new string[] { "Employee" }))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-archive"></i> Inventory <span class="fa fa-chevron-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Inventory/Stocks">Stocks</a></li>
                                    <li><a href="/Inventory/BeginningBalance">Beginning Balance</a></li>
                                </ul>
                            </li>
                        }*@
                    @if (WindowsUser.HasUserRoles(new string[] { "PurchasingOfficer" }))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-archive"></i> Inventory <span class="fa fa-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Inventory/Stocks">Stock</a></li>
                                <li><a href="/Inventory/BeginningBalance">Inventory Summary</a></li>
                            </ul>
                        </li>
                    }

                    <li class="dropdown" ng-if="userRoles.indexOf('DepartmentHead') !== -1 || userRoles.indexOf('Employee') !== -1">
                        @if (WindowsUser.HasUserRoles(new string[] { "Employee" }))
                        {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-edit"></i>Supply Request <span class="fa fa-chevron-down"></span></a>
                        } <ul class="dropdown-menu">

                            <li ng-if="userRoles.indexOf('Employee') !== -1"><a href="/Request/AddRequest">Add Request</a></li>
                            <li ng-if="userRoles.indexOf('Employee') !== -1"><a href="/Request/CurrentRequestStatus">Current Request Status</a></li>

                            @if (WindowsUser.HasUserRoles(new string[] { "DepartmentHead" }))
                            {
                                <li ng-if="userRoles.indexOf('DepartmentHead') !== -1"><a href="/Request/ViewRequest">Approve Request</a></li>
                            }
                        </ul>
                    </li>

                    @if (WindowsUser.HasUserRoles(new string[] { "Receptionist" }))
                    {
                        <li class="dropdown" ng-if="userRoles.indexOf('Receptionist') !== -1">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-bag"></i> Requisition <span class="fa fa-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Requisition/AddRequisition">Create</a></li>
                                <li><a href="/Requisition/AllRequisition">Status</a></li>
                                <li><a href="/Requisition/DeliveryAcceptance">Update</a></li>
                                <li><a href="/Requisition/PartialDelivery">Pending</a></li>
                                <li><a href="/Reviewer/PO">Completed</a></li>
                                <li><a href="/Request/ViewRequest">Supply Request</a></li>
                            </ul>
                        </li>
                    }

                    @if (WindowsUser.HasUserRoles(new string[] { "PurchasingOfficer" }))
                    {
                        <li><a href="/Location/ManageLocation"><i class="fa fa-map"></i> Location</a></li>
                    }
                    @if (WindowsUser.HasUserRoles(new string[] { "PurchasingOfficer" }))
                    {
                        <li class="dropdown" ng-if="userRoles.indexOf('PurchasingOfficer') !== -1">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cart-plus"></i> Purchase Order <span class="fa fa-chevron-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Reviewer/Requisition">Accept</a></li>
                                <li><a href="/Reviewer/OrderProcessing">Update</a></li>
                                <li><a href="/Reviewer/DeliveryMonitoring">Status</a></li>
                            </ul>
                        </li>
                    }
                    @if (WindowsUser.HasUserRoles(new string[] { "PurchasingOfficer" }))
                    {
                        <li><a href="/Reviewer/ManageSupplier"><i class="fa fa-group"></i> Suppliers</a></li>
                    }

                    @*@if (WindowsUser.HasUserRoles(new string[] { "Receptionist" }))
                        {*@
                    <li><a href="/Home/Aboutus"><i class="fa fa-user"></i> About Us</a></li>
                    @*}
                        @if (WindowsUser.HasUserRoles(new string[] { "Employee" }))
                         {
                           <li><a href="/Home/Aboutus"><i class="fa fa-user"></i> About Us</a></li>
                         }
                        @if (WindowsUser.HasUserRoles(new string[] { "PurchasingOfficer" }))
                         {
                           <li><a href="/Home/Aboutus"><i class="fa fa-user"></i> About Us</a></li>
                         }*@
                </ul>
            </div>
        </div>
    </div>


    <div>
        @*<body class="nav-md" ng-app="myApp">
            <script type="text/javascript" src="~/MyScripts/app.js"></script><!--Angular init module-->
            <script type="text/javascript" src="~/MyScripts/filter-actions/select-roles.js"></script><!--Select all users role-->
            @*upper header*@
        @*<div class="container body" style="margin-top:50px">
            <div class="main_container">
                <div class="col-md-3 left_col menu_fixed">

                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">*@

        @*<a href="/Inventory/Stocks" class="site_title">
            <img src="~/Content/Images/AndersonLogo.png" width="200" height="30" />
            <img src="@Url.Content("/Content/Images/inventory1.png")" width="200" height="30"><img />*@
        @*</a>*@
        @*</div>
            <br />*@
        <!-- sidebar menu -->
        @*<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" ng-controller="myCtrl2" ng-init="filterActions()">
            <div class="menu_section">*@
        <!--..................INVENTORY.....................-->
        @*<h3>Inventory</h3>
            <ul class="nav side-menu">*@
        <!--INVENTORY-->
        @*<li ng-if="userRoles.indexOf('Receptionist') !== -1 || userRoles.indexOf('Employee') !== -1 || userRoles.indexOf('PurchasingOfficer') !== -1">
            <a><i class="fa fa-archive"></i> Inventory <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/Inventory/Stocks">Stocks</a></li>*@
        @*<li><a href="/Inventory/Stocks">View Receptionist Cost</a></li>*@
        @*</ul>
            </li>*@
        <!--END INVENTORY-->
        <!--REQUEST-->
        @*<li ng-if="userRoles.indexOf('DepartmentHead') !== -1 || userRoles.indexOf('Employee') !== -1">
                <a><i class="fa fa-edit"></i> Supply Request <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li ng-if="userRoles.indexOf('Employee') !== -1"><a href="/Request/AddRequest">Add Request</a></li>
                    <li ng-if="userRoles.indexOf('Employee') !== -1"><a href="/Request/CurrentRequestStatus">Current Request Status</a></li>
                    <li ng-if="userRoles.indexOf('DepartmentHead') !== -1"><a href="/Request/ViewRequest">Approve Request</a></li>
                </ul>
            </li>*@
        <!--END REQUEST-->
        <!--REQUISITION-->
        @*<li ng-if="userRoles.indexOf('Receptionist') !== -1">
            <a><i class="fa fa-shopping-bag"></i> Requisition <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="/Requisition/AddRequisition">Create</a></li>
                <li><a href="/Requisition/AllRequisition">Status</a></li>
                <li><a href="/Requisition/DeliveryAcceptance">Update</a></li>
                <li><a href="/Requisition/PartialDelivery">Pending</a></li>
                <li><a href="/Reviewer/PO">Completed</a></li>*@
        @*<li><a href="/Requisition/DeclinedRequisition">Declined Requisitions</a></li>*@
        @*</ul>
            </li>*@
        <!--END REQUISITION-->
        <!--LOCATION-->
        @*<li ng-if="userRoles.indexOf('PurchasingOfficer') !== -1">
                <a><i class="fa fa-map"></i> Location <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Location/ManageLocation">Manage Location</a></li>
                </ul>
            </li>*@
        <!--END INVENTORY-->
        <!--REVIEW-->
        @*<li ng-if="userRoles.indexOf('PurchasingOfficer') !== -1">
                <a><i class="fa fa-cart-plus"></i> Purchase Order <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Reviewer/Requisition">Accept</a></li>
                    <li><a href="/Reviewer/OrderProcessing">Update</a></li>
                    <li><a href="/Reviewer/DeliveryMonitoring">Completed</a></li>
                </ul>
            </li>
            <li ng-if="userRoles.indexOf('PurchasingOfficer') !== -1">
                <a><i class="fa fa-group"></i> Suppliers <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li ng-if="userRoles.indexOf('PurchasingOfficer') !== -1">
                        <a href="/Reviewer/ManageSupplier">Manage Suppliers</a>
                    </li>
                </ul>
            </li>*@
        @*<li ng-if="userRoles.indexOf('Receptionist') !== -1">
                <a href="/Reviewer/PO"><i class="fa fa-file"></i> Purchase Order </a>
            </li>*@
        <!--ABOUT US-->
        @*<li ng-if="userRoles.indexOf('Receptionist') !== -1 || userRoles.indexOf('Employee') !== -1 || userRoles.indexOf('PurchasingOfficer') !== -1">
            <a href="/Home/Aboutus"><i class="fa fa-user"></i> About Us @*<span class="fa fa-chevron-down"></span</a>>
            @*<ul class="nav child_menu">
                <li><a href="/Home/Aboutus">About Us</a></li>
                @*<li><a href="/Inventory/Stocks">View Receptionist Cost</a></li>*@
        @*</ul>*@
        @*</li>*@
        <!--END ABOUT US-->
        @*</ul>
                </div>

            </div>*@
        <!-- /sidebar menu -->
        @*<div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>*@
        @*</div>
            </div>*@
        <!-- top navigation -->
        @*<div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <nav>
                    <div class="navbar-header">
                        <a id="menu_toggle">
                            <img src="@Url.Content("/Content/Images/AA.png")" width="214" height="50" margin-top="100px"><img />

                        </a>
                    </div>



                    <ul class="nav navbar-nav navbar-right">*@
        @*<li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/img.jpg" alt="">John Doe
                    <span class="fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                        <a href="javascript:;">
                            <span class="badge bg-red pull-right">50%</span>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                </ul>
            </li>*@

        @*<li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                        <a>
                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                            <span>
                                <span>John Smith</span>
                                <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                                Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                            <span>
                                <span>John Smith</span>
                                <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                                Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                            <span>
                                <span>John Smith</span>
                                <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                                Film festivals used to be do-or-die moments for movie makers. They were where...
                            </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                            <span>
                                <span>John Smith</span>
                                <span class="time">3 mins ago</span>
                            </span>
                            <span class="message">
                                Film festivals used to be do- or -die moments for movie makers. They were where...
                            </span>
                        </a>
                    </li>
                    <li>
                        <div class="text-center">
                            <a>
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            @*</li>*@
        @*</ul>
                    </nav>
                </div>
            </div>*@

        <!-- /top navigation -->
    </div>

    <style>
        .jumbotron {
            width: 90%;
            margin: auto;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
            padding-top: 60px;
        }

        .t {
            background-color: #4682B4;
            color: white;
        }

        h3 {
            color: #2b358a;
        }

        .p {
            color: #2b358a;
        }
    </style>
    <!-- footer content -->
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p> Private and Confidential. Anderson Group BPO Inc. &copy; 2018</p>
        </footer>
    </div>

    <!-- /footer content -->

    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js" type="text/javascript"></script><!--Jquery javascript-->
    <script src="~/Scripts/moment.min.js" type="text/javascript"></script><!--Moment javascript-->
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script><!--Bootstrap javascript-->
    <script src="~/Scripts/angular-sanitize.min.js"></script><!--For Select javascript-->
    <script src="~/Scripts/select.js" type="text/javascript"></script><!--For select javascript-->
    <script src="~/Scripts/bootstrap-datetimepicker.js" type="text/javascript"></script><!--Bootstrap Datetimepicker javascript-->
    <script src="~/Scripts/pnotify.custom.min.js" type="text/javascript"></script><!--PNotify javascript-->
    <script src="~/Scripts/angular-toggle-switch.js"></script><!--Jquery javascript-->
    <script src="~/Scripts/toastr/toastr.js"></script><!--Angular javascript-->
    <script src="~/Libs/gentelella/build/js/custom.js"></script>
    <link href="~/Content/lumen.css" rel="stylesheet" type="text/css" />
    <style>
        .container {
            width: 70%;
        }

        html, body {
            font-size: 13.5px;
        }
    </style>

</body>
</html>