<table class="table table-striped table-bordered" id="tableid">
    <thead class="t">
        <tr>
            <th ng-click="predicate='RequisitionID'; reverse=!reverse">Reference No.</th>
            <th ng-click="predicate='RequisitionType'; reverse=!reverse"> Type of Requisition</th>
            <th ng-click="predicate='FullName'; reverse=!reverse">Requestor<br><br></th>
            <th ng-click="predicate='LocationName'; reverse=!reverse"> Location<br><br></th>
            <th ng-click="predicate='RequisitionDateString'; reverse=!reverse">Date Requested</th>
            <th ng-click="predicate='RequiredDateString'; reverse=!reverse"> Required Date</th>
            <th ng-click="predicate='SpecialInstruction'; reverse=!reverse">Special Instruction</th>
            <th ng-click="predicate='Status'; reverse=!reverse"> Status<br><br></th>
            <th>Action<br><br></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="requisition in requisitions | orderBy:predicate:reverse | filter: searchText">
            <td>
                <span ng-bind="requisition.RequisitionID"></span>
            </td>

            <td>
                <span ng-bind="requisition.RequisitionType"></span>
            </td>
            <td>
                <span ng-bind="requisition.FullName"></span>
            </td>
            <td>
                <span ng-bind="requisition.LocationName"></span>
            </td>
            <td>
                <span ng-bind="requisition.RequisitionDateString"></span>
            </td>
            <td>
                <span ng-bind="requisition.RequiredDateString"></span>
            </td>
            <td>
                <span ng-hide="requisition.SpecialInstruction!=null">Not specified</span>
                <span ng-show="requisition.SpecialInstruction!=null " ng-bind="requisition.SpecialInstruction"></span>
            </td>
            <td>
                <span ng-bind="requisition.Status"></span>
            </td>
            <td id="locationAction" align="center">
                <button ng-click="showViewModal(requisition)" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-eye-open"></i> View</button>
            </td>

        </tr>
        <tr ng-show="(requisitions | filter:searchText).length == 0">
            <td colspan="9" id="locationAction" align="center">No results found...</td>
        </tr>
    </tbody>
</table>
@Html.Partial("~/Views/Shared/_Pagination.cshtml")
<!--View modal-->
<div id="viewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-uppercase">{{requisition.RequisitionType}} REQUISITION</h2>
            </div>
            <div class="modal-body">
                <p class="text-left lead text-danger has-error">Reference No : {{requisition.RequisitionID}} </p>
                <table>
                    <tbody>
                       
                        <tr>
                            <td><strong>Requisitioned By</strong></td>
                            <td> :&nbsp;&nbsp;</td>
                            <td width="300" ng-bind="requisition.FullName"></td>

                            <td><strong>Phone No.</strong></td>
                            <td> : &nbsp;&nbsp;</td>
                            <td ng-bind="requisition.Contact">&nbsp;&nbsp;</td>
                         
                        </tr>
                        <tr>
                            <td><strong>Department</strong> </td>
                            <td> :&nbsp;&nbsp;</td>
                            <td ng-bind="requisition.Department">&nbsp;&nbsp;</td>
                            <td><strong>Email </strong></td>
                            <td> : &nbsp;&nbsp;</td>
                            <td ng-bind="requisition.Email">&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td><p></p></td>
                        </tr>                    
                        <tr >
                            <td><strong>Requisition Date </strong></td>
                            <td> : &nbsp;&nbsp;</td>
                            <td ng-bind="requisition.RequisitionDateString">&nbsp;&nbsp;</td>

                            <td ><strong>Required Date </strong></td>
                            <td> : &nbsp;&nbsp;</td>
                            <td ng-bind="requisition.RequiredDateString">&nbsp;&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p class="p">Requested Items</p>
                <table class="table table-striped table-bordered" id="tableid">
                    <thead class="t">
                        <tr>
                            <th ng-click="predicate='InventoryItemID'; reverse=!reverse">ID</th>
                            <th ng-click="predicate='ItemName'; reverse=!reverse">Item Description</th>
                            <th ng-click="predicate='Quantity'; reverse=!reverse">Quantity</th>
                            <th ng-click="predicate='UnitOfMeasurement'; reverse=!reverse">Unit of Measurement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in requisitionItems | orderBy:predicate:reverse | filter: searchText">
                            <td>
                                <span ng-bind="item.InventoryItemID"></span>
                            </td>
                            <td>
                                <span ng-bind="item.ItemName"></span>
                            </td>
                            <td>
                                <span ng-bind="item.Quantity"></span>
                            </td>
                            <td>
                                <span ng-bind="item.UnitOfMeasurement"></span>
                            </td>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-sm" ng-click="acceptFunction(requisition.RequisitionID,requisitionItems)"><i class="glyphicon glyphicon-ok"></i> Accept</button>
                <button class="btn btn-danger btn-sm" ng-click="showDeclineModal()"><i class="glyphicon glyphicon-remove"></i> Decline</button>
            </div>
        </div>
    </div>
</div>

<!--Decline modal-->
<div id="declineModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form name="declineForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title text-uppercase">DECLINE REQUISITION</h2>
                </div>
                <div class="modal-body">
                    <h4>Reason for declining this requisition</h4>
                    <div class="form-group">
                        <div style="width:100% !important">
                            <textarea ng-model="reason" name="reason" class="form-control" rows="7" id="textArea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" ng-click="closeDeclineModal()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                    <button class="btn btn-success btn-sm" ng-disabled="!declineForm.reason.$valid" ng-click="declineFunction(requisition.RequisitionID,reason)"><i class="glyphicon glyphicon-ok"></i> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Supplier information modal-->
<!--<div id="supplierInfoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 100% !important;left: 0% !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Supplier Information</h2>
            </div>
            <div class="modal-body">
                <center>
                    <h3>{{supplierInfo.SupplierName}}</h3>
                </center>
                <table>
                    <tbody>
                        <tr>
                            <td><strong>Address:</strong></td>
                            <td>{{supplierInfo.Address}}</td>
                        </tr>
                        <tr>
                            <td><strong>Person to contact:</strong></td>
                            <td>{{supplierInfo.ContactPerson}}</td>
                        </tr>
                        <tr>
                            <td><strong>Contact Number:</strong></td>
                            <td>{{supplierInfo.ContactNo}}</td>
                        </tr>
                        <tr>
                            <td><strong>Email:</strong></td>
                            <td>{{supplierInfo.Email}}</td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" ng-click="closeSupplierInfo()"><i class="glyphicon glyphicon-remove"></i>Close</button>
            </div>
        </div>
    </div>
</div>-->