<script type="text/javascript" src="~/MyScripts/request/current-request.js"></script>

<div class="jumbotron" style="margin-top: 100px;">
    <div ng-controller="myCtrl" ng-init="initialize()">
        <div class="page-title">
            <div class="title_left">
                <!-- REQUISITION | APPROVE REQUISITION -->
                <h3>
                    Request | <small>Completed Request Status</small>
                </h3>
            </div>
            <div class="title_right">
                <div class="col-md-7 col-sm-7 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input ng-model="searchText" type="text" class="form-control" placeholder="Search here...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <!-- content starts here -->
                        <div>
                            <!--TABLE REQUEST-->
                            <table class="table table-striped table-bordered" id="tableid">
                                <thead class="t">
                                    <tr>
                                        <th ng-click="predicate='Id'; reverse=!reverse">Reference ID</th>
                                        <th ng-click="predicate='Name'; reverse=!reverse"> Name</th>
                                        <th ng-click="predicate='Location'; reverse=!reverse"> Location</th>
                                        <th ng-click="predicate='RequestDate'; reverse=!reverse"> Requested Date</th>
                                        <th ng-click="predicate='RequiredDate'; reverse=!reverse"> Required Date</th>
                                        <th ng-click="predicate='RequiredDate'; reverse=!reverse">Special Instruction</th>
                                        @*<th ng-click="predicate='RequisitionType'; reverse=!reverse"> Type of Requisition</th>*@
                                        <th ng-click="predicate='Status'; reverse=!reverse"> Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="request in requests | orderBy:predicate:reverse | filter: searchText">
                                        <td>
                                            <span ng-bind="request.RequestID"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="request.FullName"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="request.LocationName"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="request.RequisitionDateString"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="request.RequiredDateString"></span>
                                        </td>
                                        <td>
                                            <span ng-bind="request.SpecialInstruction"></span>
                                        </td>
                                        @*<td>
                                                <span ng-bind="request.RequisitionType"></span>
                                            </td>*@
                                        <td>
                                            <span ng-bind="request.Status"></span>
                                        </td>

                                        <td id="locationAction" align="center">
                                            <button ng-click="showViewModal(request)" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-eye-open"></i> View</button>
                                        </td>
                                    </tr>
                                    <tr ng-show="(requests | filter:searchText).length == 0">
                                        <td colspan="9" id="locationAction" align="center">No results found...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--View modal-->
                            <div id="viewModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h2 class="modal-title text-uppercase">{{request.RequisitionType}} REQUEST</h2>
                                        </div>
                                        <div class="modal-body">
                                            <p class="lead text-danger has-error">Reference No : {{request.RequestID}} </p>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td><strong>Requested By</strong></td>
                                                        <td> :&nbsp;&nbsp;</td>
                                                        <td ng-bind="request.FullName"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Department</strong> </td>
                                                        <td> :&nbsp;&nbsp;</td>
                                                        <td ng-bind="request.Department">&nbsp;&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Phone No.</strong></td>
                                                        <td> : &nbsp;&nbsp;</td>
                                                        <td ng-bind="request.Contact">&nbsp;&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Email </strong></td>
                                                        <td> : &nbsp;&nbsp;</td>
                                                        <td ng-bind="request.Email">&nbsp;&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td> <p></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Requisition Date </strong></td>
                                                        <td> : &nbsp;&nbsp;</td>
                                                        <td ng-bind="request.RequisitionDateString">&nbsp;&nbsp;</td>

                                                        <td><strong>&nbsp;&nbsp;&nbsp;&nbsp;Required Date </strong></td>        
                                                        <td> : </td> 
                                                        <td>
                                                            &nbsp;&nbsp;<span ng-bind="request.RequiredDateString"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td> <p></p></td>
                                                    </tr>
                                                    <tr>
                                                        <td> <p></p></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="table table-striped table-bordered" id="tableid">
                                                <thead class="t">
                                                    <tr>
                                                        <th ng-click="predicate='Id'; reverse=!reverse">ID</th>
                                                        <th ng-click="predicate='Id'; reverse=!reverse">Item</th>
                                                        <th ng-click="predicate='Id'; reverse=!reverse">Quantity</th>
                                                        <th ng-click="predicate='Id'; reverse=!reverse">Unit of Measurement</th>
                                                        <th ng-click="predicate='Id'; reverse=!reverse">Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr ng-repeat="item in requestItems | orderBy:predicate:reverse | filter: searchText">
                                                        <td>
                                                            <span ng-bind="item.InventoryItemID"></span>
                                                        </td>
                                                        <td>
                                                            <span ng-bind="item.ItemName"></span>
                                                        </td>
                                                        <td>
                                                            <span ng-bind="item.Quantity"></span>
                                                        </td>
                                                        <td>
                                                            <span ng-bind="item.UnitOfMeasurement"></span>
                                                        </td>
                                                        <td>
                                                            <span ng-bind="item.Description"></span>
                                                        </td>
                                                </tbody>
                                            </table>    
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>&nbsp;Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Decline modal-->
                            <div id="declineModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <form name="declineForm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button  class="btn btn-danger btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>Close</button>
                                                <h2 class="modal-title text-uppercase">DECLINE REQUISITION</h2>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-stripped" id="tableid">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h4>Reason for declining this requisition</h4>
                                                                <div class="form-group">
                                                                    <div style="width:100% !important">
                                                                        <textarea ng-model="reason" name="reason" class="form-control" rows="7" id="textArea"></textarea>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-success btn-sm" ng-disabled="!declineForm.reason.$valid" ng-click="declineFunction(request.RequestID,reason)"><i class="glyphicon glyphicon-ok"></i>Submit</button>
                                                <button class="btn btn-danger btn-sm" ng-click="closeDeclineModal()"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- content ends here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>