
@{
    ViewBag.Title = "Aboutus";
}
<style>
     h1,h2,h3
     {
        color:#2b358a!important;
     }
     .ver
     {
          color:#2b358a!important;
     }
    .jumbotron
    {
        width:90%;
        margin:auto;
        padding-left:40px;
        padding-right:40px;
        padding-bottom:40px;
        padding-top:40px;
    }
    .p {
        color:#2b358a!important;
    }

   
</style>

  <!-- About Us-->

  <!--content starts here-->
   <div class="jumbotron" style="margin-top: 100px;">
     <h2>About</h2>
     <center><img src="~/Content/Images/AndersonLogo.png" height="50%" width="100%" /></center>
     <br />
     <p class="p">Version 1.2</p>
     <p><strong>Anderson Inventory Management System called Anderson.Supplies </strong>is a web application system designed specifically for the inventory management of Anderson Group Philippines (AGBI). Anderson.Supplies intends to automate the transaction of inventory supplies of the company; from ordering of items from the definite suppliers, delivery of the supplied items, up to the distribution of them in the company.</p>
     <br />

     <p class="p">Developers</p>
     <p style="font-size:16px;">
         Mark Angelo Atienza |
         Carmela Wael | 
         Alma Jenicca Gala |
         James Cedrick Tugas |
         Jinkens Taniguecruz |
         John Carlo Rotairo |
         Amelito Alfaro |
         John Eric Susi|
         Christian Loyola|
         Brian Nebres |
         Estephanie Llamido
    </p>
   
    @*</font>*@
</div>
  <!--content ends here-->