
@{
    ViewBag.Title = "LandingPage";
}
<style>
    .container
    {
        width: 90% !important;
    }

    h1
    {
        color: #2b358a;
    }

    th
    {
        background-color: #c05f5f !important;
        color: white;
        text-align: center;
    }

    h2
    {
        font-family: "Verdana";
    }
</style>
@Html.Partial("~/Views/Shared/_Navbar.cshtml")
<br /><br /><br /><br /><br /><br />

<!-- Welcome to Anderson.Supplies -->
<div class="jumbotron"> 
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <center><h2> Welcome to </h2><img src="~/Content/Images/AIMSLOGO.png" width="750" /></center>
        <br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>